.login-portal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  &.show {
    pointer-events: auto;
  }
}

.login-button {
  position: absolute;
  background-color: #FFF;
  top: 0;
  right: 10px;
  cursor: pointer;
  border: none;
  padding: 5px 12px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow:
  0 4px 5px rgba(0, 0, 0, 0.2),
  0 4px 4px rgba(0, 0, 0, 0.12),
  0 4px 4px rgba(0, 0, 0, 0.14);

  transition: 0.3s color ease-in;
  &:hover {
    color: rgb(43,123,81);
  }

}

