
.login-menu {
  position: absolute;
  top: -100%;
  right: 0;
  transition: 0.5s top ease-in;


}
.open {
  top: 0;
}

.login-menu-button {
  background-color: grey;
  height: 30px;
  border: none;
  color: white;
  padding: 6px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;

}

.login-menu-dropdown {
  display: flex;
  position: relative;
  min-width: 200px;
  top: 0;
  right: 50%;
  z-index: 1;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 8px 0;

}

.login-menu-option {
  display: block;
  width: 100%;
  background-color: transparent;
  color: #333;
  padding: 8px 16px;
  font-size: 16px;
  text-align: left;
  border: none;
  cursor: pointer;
}


.login-menu-option:hover {
  background-color: #ddd;
}



.user-info {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  transition: 0.5s top ease-in;
  right: 0;
  white-space: nowrap;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2),
  0 3px 4px rgba(0, 0, 0, 0.12),
  0 2px 4px rgba(0, 0, 0, 0.14);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 16px 20px;


.login-buttons-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;



  p {
    padding-bottom: 10px;
  }

}


  .login-button {
    top: unset;
    bottom: -25px;
  }

  img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: contain;
  }

  .user-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.87);
    letter-spacing: 0.15px;
  }

  .user-email {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.6);
    mix-blend-mode: normal;
    letter-spacing: 0.25px;
  }

  a {
    text-decoration: underline;
    color: rgb(0,176,200);
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s color ease-in;
    &:hover {
      color: rgb(43,123,81);

    }
  }

}

.full-screen-wrapper {
  width: 100%;
  height: 100%;
  position: relative;

}

